@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


body {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-size: 16px;
    padding: 10px;
    background-color: #f1f1f1;
}
/* style for header */

header {
    align-items: center;
    padding: 20px;
}

.h-container {
    padding: 10px 40px;
    box-shadow: 5px 5px 5px #6f15af66;
}

.h-container h1 {
    align-items: center;
    font-size: 4rem;
    font-style: italic;
}

.h-container:hover {
    box-shadow: 5px 5px 5px #bf80ff;
}

.logo-img {
    height: 25vh;
    width: 20vw;
}

.cloud-img {
    z-index: -1;
    position: absolute;
    height: 40vh;
    width: 100vw;
    opacity: 50%;
    padding-bottom: 10px;
}

/* style for navbar */
nav {
    overflow: hidden;
    background-color:#4b0082;
    justify-content: space-evenly; /* Center items horizontally */
    align-items: center;    /* Center items vertically */
}

nav a {
    display: block;
    color:#f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #e6e6fa;
    color: black;
}


.leftcolumn {
    width: 23%;
    padding: 5px;
    margin-right: 2px;
    display: flex;
    flex-flow: column wrap;
    background-color: #f1f1f1;
    justify-content: flex-start;
}
.rightcolumn {
    width: 73%;
    padding: 5px;
    background-color: #f1f1f1;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.feed-container {
    display: flex;
}

.user-card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 4px groove #4b0082;
}

.user-card img {
    height: 100px;
    width: 100px; 
}

/* style for footer */
footer {
    padding: 20px;
    background-color: #dcd0ff;
    margin-top: 20px;
}

footer h2 {
    text-align: center;
}